*{

    margin: 0;
    padding: 0;
}
#logo{
    display: inline-block;
    position: absolute;
    width: 12%;
    height: 10%;
    left: 0%;
}
/*nav bar*/
.container-fluid{
    margin-left: 90%;
}

.inline-form input {

    display: inline-block;
    width: 100px;

}
/*Fin nav bar*/
#logo1{
    position: absolute;
    width: 180px;
    height: 70px;
    right: 7px;
    top:0px;
}


.jumbotron{

    text-align: center;
}

#categorie{

    position: absolute;
    width: 270px;
    font-size: 25px;
    margin-left:  50px;
    background-color: grey;
    padding-left: 8px;

}

.liste1{

    margin-left: 10px;

}

.bouton{

    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    border: none;
    color: black;

}


/* Animation Bouton */

.bouton:hover {background-color: #5e5e5e}

.bouton:active {

    background-color: red;
    transform: translateY(4px);
}
/* Fin Animation */

/*image des boites*/
.image{
    display: inline-block;
    width: 250px;
    height: 350px;
    margin-left: 25%;
    margin-top: 3%;
}
.image1{
    display: inline-block;
    width: 250px;
    height: 350px;
    margin-left: 2%;
    margin-top: 3%;
}


/*Début du footer*/
footer{

    margin: 4% 0 0 0;
    width:100%;
    padding: 20px 0 4px 0;
    background: #5e5e5e;
    color: white;
    font-weight:bold;
    font-size:18px;
    text-align:center;
}


footer .container {

    display:inline-block;
    margin-bottom:16px;
    width:20%;
    min-width:150px;
    vertical-align:top;

}

span {

    border-bottom:2px solid;

}

footer .container #NavFooter span {

    display:inline-block;
    margin-bottom:8px;

}


footer li {

    list-style:none;

}

footer .container h4 {

    margin-bottom:8px;

}

footer .cta button {

    margin-top:16px;
    padding:12px 20px;
    background:green;
    font-weight:bold;
    border:none;
    border-radius:8px;
    cursor:pointer;
    position:relative;

}

footer .cta button:focus {

    outline:none;

}

footer .cta button:active {

    top:4px

}
/*Fin du footer*/