*{

    margin: 0;
    padding: 0;

}
/*Nav bar*/
#logo{

    display: inline-block;
    position: absolute;
    width: 12%;
    margin-top: 0.3%;
    left: 41%;
    height: 80%;
}
@media only screen and (max-width: 1200px) {
    #logo{
        width: 13.5%;
        left: 40%;
    }
}
@media only screen and (max-width: 1060px) {
    #logo{
        width: 15%;
        left: 38%;
    }

}
@media only screen and (max-width: 990px) {
    #logo {
        visibility: hidden;
    }
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
.blue{color:#1D38FC}
.green{color:#0EC929}
.red{color:#FF0000}
.orange{color:#ffe100}
.navbar-toggle{
    color: white;
}

@media only screen and (max-width: 767px) {
    #recherche{
        margin-left: 10px;
    }
}

/*Fin Nav bar*/

/*bouton de connexion et d'inscription*/
#btninsciption{
    width:100px;
    height: 30px;
    border-radius: 10px;
    color: whitesmoke;
    margin-top: 3px;

}

#btninsciption a{
    color: black;
    text-decoration: none;
}

#btnconnexion{
    width:100px;
    height: 30px;
    border-radius: 10px;
    color: whitesmoke;
}

#btnconnexion a{
    color: black;
    text-decoration: none;
}

/*Fin des bouton de connexion et d'inscription*/

.jumbotron{

    text-align: center;

}

#categorie{

    width: 300px;
    font-size: 25px;
    margin-left:  50px;
    background-color: grey;
    padding-left: 8px;
    border-top-right-radius : 150px 100px;
    border-bottom-left-radius: 100px 150px;
    height: 85%;
    margin-top: 15px;

}

.TitreCat{

    color: whitesmoke;

}

.liste1 {

    margin-left: 0px;

}

a{

    color: black;

}

ul{

    list-style: none;

}

#fond{

    background-color: white;
    height: 750px;

}

.bouton{

    font-size: 20px;
    background-color: #faebcc;
    border-radius: 10px;
    width: 80%;
    border: none;
    color: black;
    padding: 0;
}


/* Animation Bouton */

.bouton:hover {background-color: #faf2cc}

.bouton:active {

    background-color: #f7ecb5;
    transform: translateY(4px);
}
/* Fin Animation */


/*Debut du slide*/
/*debut responsive du slider*/

/*fin responsive du slider*/
#titre_slider{

    text-align: center;
    color: black;

}

.slideshow {

    width: 1120px;
    height: 500px;
    overflow: hidden;
    border: 3px solid white;
    margin-left: 15%;
    margin-top: 40px;

}

.slideshow ul {

    /* 4 images donc 4 x 100% */
    width: 400%;
    height: 200px;
    padding:0;
    margin:0;
    list-style: none;

}

.slideshow li {

    float: left;
    margin-left: 10px;

}

.image_slider{

    width: 358px;
    height:500px;

}
/* Fin du Slider */
@media only screen and (max-width: 767px) {

}

/*Début du footer*/

footer{

    margin: 4% 0 0 0;
    width:100%;
    padding: 20px 0 4px 0;
    background: #5e5e5e;
    color: white;
    font-weight:bold;
    font-size:18px;
    text-align:center;
    margin-top: auto;

}


footer .container {

    display:inline-block;
    margin-bottom:16px;
    width:20%;
    min-width:150px;
    vertical-align:top;

}

span {

    border-bottom:2px solid;

}

footer .container #NavFooter span {

    display:inline-block;
    margin-bottom:8px;

}


footer li {

    list-style:none;

}

footer .container h4 {

    margin-bottom:8px;

}

footer .cta button {

    margin-top:16px;
    padding:12px 20px;
    background-color: #449d44;
    font-weight:bold;
    border:none;
    border-radius:8px;
    cursor:pointer;
    position:relative;

}

footer .cta button:focus {

    outline:none;

}

footer .cta button:active {

    top:4px

}
/*Fin du footer*/
#inscription{

    text-align: center;

}


label{

    right: auto;

}

#connexion{

    text-align: center;

}

.ash{

    padding-bottom: 15px;
}

#resp_1 {
    padding-left:5%;
    margin-bottom: 36px;
    margin-right: inherit;
}

#resp_1 .img-responsive {
    height: 350px;
    width: auto;
    margin-top: 61px;
}

/*CSS des pages de jeux*/
/*image des boites*/
.image{
    display: inline-block;
    width: 250px;
    height: 350px;
    margin-left: 2%;
    margin-top: 3%;
}
.image1{
    display: inline-block;
    width: 250px;
    height: 350px;
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 20%;
}
#image{
    display: inline-block;
    width: 250px;
    height: 350px;
    margin-left: 25%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#image1{

    display: inline-block;
    width: 250px;
    height: 350px;
    margin-left: -3%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.image2{

    display: inline-block;
    width: 250px;
    height: 350px;
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
}
@media (min-width: 768px) {
.col-sm-3{
    display: flex;


    justify-content: center;}

}