#logo{

    display: inline-block;
    position: absolute;
    width: 12%;
    height: auto;
    margin-top: 0.3%;
    left: 45%;
}
@media only screen and (max-width: 1200px) {
    #logo{
        width: 13.5%;
        left: 40%;
    }
}
@media only screen and (max-width: 1060px) {
    #logo{
        width: 15%;
        left: 38%;
    }

}
@media only screen and (max-width: 990px) {
    #logo {
        visibility: hidden;
    }
}
@media only screen and (max-width: 767px) {
    #recherche{
        margin-left: 10px;
    }
}

.slideshow {

    width: 1120px;
    height: 500px;
    overflow: hidden;
    border: 3px solid white;
    margin-left: 15%;
    margin-top: 40px;

}

.slideshow ul {

    /* 4 images donc 4 x 100% */
    width: 400%;
    height: 200px;
    padding:0;
    margin:0;
    list-style: none;

}

.slideshow li {

    float: left;
    margin-left: 10px;

}
