*{

    margin: 0;
    padding: 0;
}
.container{
    width: 1px;
}
#logo{
    display: inline-block;
    position: absolute;
    width: 12%;
    left: 0%;
}
/*nav bar*/

.container-fluid{
    margin-left: 90%;
}

.inline-form input {

    display: inline-block;
    width: 100px;

}
/*fin nav bar*/

.jumbotron{

    text-align: center;

}

#categorie{

    position: absolute;
    width: 270px;
    font-size: 25px;
    margin-left:  50px;
    margin-top: 10px;
    background-color: grey;
    padding-left: 8px;

}

.TitreCat{



}

.liste1{

    margin-left: 10px;

}

.bouton{

    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    border: none;
    color: black;

}


/* Animation Bouton */

.bouton:hover {background-color: #25DFF0}

.bouton:active {

    background-color: red;
    transform: translateY(4px);
}
/* Fin Animation */

/*début du slide*/
#titre_slider{

    margin-left: 40%;

}

.slideshow {

    width: 75%;
    height: 50%;
    overflow: hidden;
    border: 3px solid #F2F2F2;
    margin-left: 24%;
    margin-top: 2%;

}

.slideshow ul {

    /* 4 images donc 4 x 100% */
    width: 400%;
    height: 200px;
    padding:0;
    margin:0;
    list-style: none;

}

.slideshow li {

    float: left;
    margin-left: 0.4%;

}

.image_slider{

    width: 358px;
    height:500px;

}

